<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="RootPath" value="C:\temp"/>
    <!--<add key="FirstRootPath" value="G:\Temp\LuceneIndex" />
    <add key="SecondRootPath" value="F:\Temp\LuceneIndex" />-->
    <add key="FirstRootPath" value="D:\Temp\LuceneIndex" />
    <add key="SecondRootPath" value="D:\Temp2\LuceneIndex" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
</configuration>
