<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="FirstRootPath" value="F:\Temp\LuceneIndex" />
    <add key="SecondRootPath" value="G:\Temp\LuceneIndex" />
    <add key="MissingRootPath" value="d:\Temp\missingbanches.txt" />
  </appSettings> 
</configuration>